.clicked {
  cursor: default !important;
  color: black !important;
}

.banner {
  background-image: url(./assets/openhand.jpg);
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
